[2018-07-13 05:15] zgxiangyang opened #1 "TypeError: 'builtin_function_or_method' object is not iterable"
File "/home/yaxian/image-creation/Shift_Net/Shift-Net_pytorch/data/aligned_dataset.py", line 33, in __getitem__
    w, h = AB.size
TypeError: 'builtin_function_or_method' object is not iterable

[2018-07-15 01:29] Zhaoyi-Yan commented on #1
Please put 'AB=self.transforms(AB)' of Line 30 to Line 41.  Images are resized with ratio kept using PIL.
Then 'AB=self.transforms(AB)' transforms the images to a tensor. And finally random crop is applied.

[2018-07-15 02:48] Zhaoyi-Yan commented on #1
Could you try the latest version of master. If solved, please notice us.

[2018-07-15 03:01] #1 closed

[2018-07-15 06:04] dodoroyw opened #3 "AttributeError: 'Namespace' object has no attribute 'suffix'"
After I ran the train.py error comes up

Traceback (most recent call last):
  File "train.py", line 8, in <module>
    opt = TrainOptions().parse()
  File "/Users//Shift-Net_pytorch/options/base_options.py", line 99, in parse
    if opt.suffix:
AttributeError: 'Namespace' object has no attribute 'suffix'

[2018-08-14 09:58] Naruto-Sasuke opened #6 "I will refine the code in these aspects."
- [x] Simplify the code of `networks.py`. It is redundant and a little bit complex for now.
- [x] Add `init_gain` option.
- [x] Make it multi-gpu compatibility.
Two more aspects:
- [x] Printing information of `InnerCos` and `Shift` layer.
- [x] Add `Skip` to `InnerCos` as a workaround.

The main difficulty lies in the implementation`InnerCos`. The target of `InnerCos` is not on the same GPU as tha

[2018-08-14 09:59] Naruto-Sasuke commented on #6
#5

[2018-08-14 11:53] Zhaoyi-Yan commented on #6
It looks generally good. For the third item, FYI, you can add `skip` defining whether one can skip the `InnerCos` layer. It is a workaround.  Finally, we hope a better way to add `InnerCos` as well as multi-gpu supported.

[2018-08-14 12:06] Naruto-Sasuke commented on #6
Two more aspects:
- [x] Printing information of `InnerCos` and `Shift` layer.
- [x] Add `Skip` to `InnerCos` as a workaround.

[2018-08-17 03:03] junhocho opened #7 "pretrain model?"
It would be helpful if you provide pretained model.
Thank you.

[2018-08-17 07:04] Zhaoyi-Yan commented on #7
Hi, our original code is base on `Torch7`, https://github.com/Zhaoyi-Yan/Shift-Net . We haven't got that performance in pytorch. But we promise, there is no much gap between these two versions.

[2018-08-19 11:07] Naruto-Sasuke commented on #6
It is quite interesting to make `InnerCos` support multi-gpu training. I will makes a PR soon.

[2018-08-19 12:13] Zhaoyi-Yan commented on #6
Have finished multi-gpu training with `InnerCos` via a265c6b

[2018-08-19 12:14] #6 closed

[2018-09-03 01:56] Zhaoyi-Yan opened #10 "TypeError: initialize() takes exactly 1 argument (2 given)"
[code]
I miss something in `test_options.py`, it causes this error.

[2018-09-03 09:33] #10 closed

[2018-09-17 10:52] amjltc295 commented on #7
May I get the pretrained Pytorch model even if it may not be as good as the Torch7 one? Thanks.

[2018-09-26 12:37] hugo-xie opened #12 "one error"
There might be one error in the 238 line of models/shiftnet_model.py  ,there no object called self.ng_loss

[2018-09-27 02:05] Naruto-Sasuke commented on #12
#13

[2018-10-07 13:07] 1900zyh opened #14 "the model is unable tested on given mask"
The mask generation is inside of the model.
Could you pls move the mask generation outside so that the model can be tested on given mask?

[2018-10-08 13:56] Zhaoyi-Yan commented on #14
I am busy these months, I think it is easy to implement on yourself. If you insist, I will have a look...

[2018-10-30 03:04] KumapowerLIU opened #16 "Guidance loss"
gt_latent = self.ng_innerCos_list[0].get_target()  # then get gt_latent(should be variable require_grad=False)
self.ng_innerCos_list[0].set_target(gt_latent)

I can  not find these codes in   set_gt_latent(self) function, so confused

[2018-10-30 09:36] Zhaoyi-Yan commented on #16
Hi，can you tell me which line your snippet is?

[2018-11-02 10:50] elimohl opened #17 "Strange artefact at the center of the mask"
When run your code on my data I get a strange black dot on almost every image. Looks like there is bug somewhere.
![screenshot_2018-11-02_13-43-27](https://user-images.githubusercontent.com/10729543/47910984-780eb500-dea5-11e8-8fb8-e1ab2f2f8113.png)
![screenshot_2018-11-02_13-43-51](https://user-images.githubusercontent.com/10729543/47910985-780eb500-dea5-11e8-9bf9-d0014c2450ae.png)

[2018-11-28 11:38] tchaton opened #18 "Some questions"
Hello,

I am going to concentrate next week reading and learning about your code.
I have several questions I would like to discuss with you.

My email adress is thomas.chaton@uk.fujitsu.com.

Best,
Thomas Chaton.

[2018-11-29 13:53] tchaton opened #19 "Optimization PB"
Hello there,

The training was very slow.
I started to look into the code (You can find the notebook for the optimization on my repo).

At my big surprise, it takes 0.5 s to forward with a square centered mask. I was expecting way more.

I checked with your random mask generator.
    while True:
        x = random.randint(1, MAX_SIZE-fineSize)
        y = random.randint(1, MAX_SIZE-fineSize)

[2018-11-29 14:14] Zhaoyi-Yan commented on #19
Hi, it shouldn't be that long. It shuold be less  than 0.001s. I am not sure why it takes so long in your case.

[2018-11-30 12:34] Zhaoyi-Yan opened #20 "Planned Extensions on Shift-Net"
- High priority:
- [x] Update the code for pytorch >= 0.4.
- [x] Soft assignment instead of hard assignment.
- [x] Combine the shifted feature with original feature in a more elegant way. Eg. Residual,  complicated residual.
- Medium priority:
- [x] Relativistic discriminator.
- [x] Inception Module ?
- [x] Partial Conv ?

What's your opinion on this ? @tchaton

[2018-12-05 10:13] huangqianfirst opened #21 "About pretrained model"
Could you please update a pre-trained model for test.
Thanks in advance.

[2018-12-11 08:12] KumapowerLIU commented on #16
谢谢 麻烦了  验证后麻烦回复我一下= =

[2018-12-12 03:09] Zhaoyi-Yan commented on #20
#22 This PR adds a lot of new features, thanks to @tchaton !

[2018-12-12 09:49] tchaton commented on #20
I agree with the roadmap so far.

I have added densenet based discriminator, and the game seems more equilibrated, as the generator is not easily winning.

I will focus on finishing U-Net Inception model, to give more power to the generator. However, I think we should also inspire ourself with DeepLabV3. Check this medium link from segmentation methods. We want the generator to be able to pull glo

[2018-12-13 10:56] Zhaoyi-Yan opened #24 "A bug: batchsize>1 it goes wrong!"
@tchaton
I DO NOT when it goes like  it.
When set `batchSize=8` and run `acc_unet_shift`.
When batchsize>1, `x_latter.size()` is `(8, 128, 64, 64)`, while `x.size()` is `(1, 128, 64, 64)`

[code]

[2018-12-13 11:25] Zhaoyi-Yan opened #25 "BUG: SoftShift is broken"
As the `Nonparametric` is modified, `_paste` is no long what it means before. Need a fix, when the  final `Nonparametric` is decided.

[2018-12-13 13:46] tchaton commented on #24
@Zhaoyi-Yan

I will have a look into that :)
And also the multi-gpu error.

Best,

[2018-12-13 13:53] Zhaoyi-Yan commented on #24
@tchaton

I think this is not true.
https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/9ef939407e78d7be6c477302a244b1f32c4fae4e/models/accelerated_shift_net/accelerated_InnerShiftTripleFunction.py#L52

When batchsize is 1, it goes well.
However, batchsize is 9, then we just concat `8*256*32*32`, `8*256*32*32` with `1*256*32*32`

[2018-12-13 14:33] Zhaoyi-Yan commented on #24
Have fixed via d2c500803a9d7141a3933d0f4804d9635cd7bfc6

[2018-12-13 14:33] #24 closed

[2018-12-14 09:46] tchaton commented on #25
I am going to work on that :)

[2018-12-14 09:48] tchaton commented on #21
I will try to prepare that.

Which dataset would you want ?

Best,

[2018-12-14 09:48] tchaton commented on #16
@KumapowerLIU  @Zhaoyi-Yan  Please english :)

[2018-12-14 13:43] Zhaoyi-Yan opened #30 "acceleration for shift seems wrong."
When I run `test_m.py`,

[code]
Another test
[code]
@tchaton

[2018-12-15 04:07] Zhaoyi-Yan commented on #30
I have update `test_acc_shift.py`, deleting `.t()` makes sense in acc_shiftnet. I found that you have modified it in your branch `batch_mask_gen`.

[2018-12-15 04:39] Zhaoyi-Yan commented on #16
@KumapowerLIU Could you try the version of master? The shift operation has been validated. Any you can enjoy the fast speed of optimized shift. Maybe you can try to confirm whether `InnerCos` is in line your expectation in the master.

[2018-12-15 08:34] Zhaoyi-Yan opened #32 "Soft shift should be implemented in this way."
https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/models/soft_shift_net/innerSoftShiftTripleModule.py#L43-L48

It seems not true.

[2018-12-15 08:35] Zhaoyi-Yan commented on #32
I will try to implement it tomorrow.

[2018-12-16 21:21] tchaton commented on #32
Hello Yan,

Yeah for now. It is an accelerated version for pixel to pixel shift. I will extend it later on ;)

[2018-12-17 08:49] tchaton commented on #16
![image](https://user-images.githubusercontent.com/12861981/50076094-a12aa100-01d8-11e9-8fc9-20a760a50e04.png)

Here is a training loss. We can certainly do something to help preventing GAN collapse.

Best,
T.C

[2018-12-17 08:55] Zhaoyi-Yan commented on #16
`vallian gan` usually suffers from model collapse. I haven't tried other gans.
Does `relativelistic gan` or `spectral norm` helps avoid collapse?

[2018-12-17 12:20] tchaton commented on #16
I didn t really tried yet.

[2018-12-17 16:13] tchaton commented on #16
Hello Yann,

I am trying a new l1 loss. It is weighted sum between l1 loss inside ans outsider the mask. The better the outside will be. The more it will focus on the inside.

I also want to try inverse signed distance function applied over the mask.

 Best,
T.C

[2018-12-18 05:43] huangqianfirst commented on #21
Places2. Thanks.

[2018-12-19 03:10] Zhaoyi-Yan opened #34 "`re_avg_gan` is broken."
Trying to backward through the graph a second time, but the buffers have already been freed. Specify retain_graph=True when calling backward the first time.

[2018-12-19 04:21] #34 closed

[2018-12-20 11:10] tchaton commented on #16
I have noticed, that it was creating a constant collapse, even when I was adding a differ starter.

Because the generator mess up outside the mask, the discriminator starts to give back shitty gradients and the Gan collapse.

Best,
T.C

[2018-12-20 12:16] Zhaoyi-Yan commented on #16
`square mask` training makes the testing only suitable for the same square masking. To avoid this, we can probably set the square mask randomly in training. In this way, a local D is expected to distinguish the mask region. Something like the settings in `global and local` and `generative inpainting`.

[2018-12-20 14:43] Zhaoyi-Yan opened #37 "Guidance loss is not compatible for multi-gpu"
It is not easy to solve, in fact.

I have no idea on how to solve it.

I once write another kind of `InnerCos.py` which only works on multi-gpu but not suitable for single-gpu.

I do not know how to solve it by now.

[2018-12-22 20:17] tchaton commented on #37
Hello Yan,

I am going to look into that.

Best,
T.C

[2018-12-23 01:42] Zhaoyi-Yan commented on #37
@tchaton
I got some results, share with you via your personal e-mail or another one?

[2018-12-23 02:41] Zhaoyi-Yan opened #39 "I propose to delete the original code of shiftnet."
Since we `acc_shift_net` has been developed, we need to delete the obsolete code to keep the codebase clean.
What's your opinion on this? @tchaton

[2018-12-23 16:33] tchaton commented on #37
My email adress is thomas.chaton.ai@gmail.com. Please share on this one  :)

[2018-12-24 11:31] Zhaoyi-Yan commented on #37
@tchaton Hope this one can be solved asap.

[2019-01-01 18:50] tchaton commented on #39
Hello @Zhaoyi-Yan

I think we should leave everything in the project.
People might want to join the project.
It is easier to have everything when they want to understand it.
We could just desactivacte its usage.

Best,
T.C

[2019-01-03 07:52] KumapowerLIU opened #44 "I want to use the Paris_StreetView_Dataset, but no public link, can you send me a link please ,the BaiduYun is better, Thank you very much. My email: www884886@126.com"

[2019-01-07 04:17] KumapowerLIU commented on #21
I also want to get Places2-butte, i train myself，no original text effect at all，i will send email to you

[2019-01-08 08:50] tchaton commented on #25
![image](https://user-images.githubusercontent.com/12861981/50819574-53f6a680-1322-11e9-9d45-918254054535.png)
![image](https://user-images.githubusercontent.com/12861981/50819584-607aff00-1322-11e9-8c45-e6dc9cc9e73e.png)

It seems correct for me. You make the linear combinaison, and then u assign it. But you are right the function name is not pasting anymore.

[2019-01-12 03:07] #30 closed

[2019-01-12 03:08] Zhaoyi-Yan commented on #25
It is correct!

[2019-01-12 03:08] #25 closed

[2019-01-12 03:08] #44 closed

[2019-01-12 03:09] #20 closed

[2019-01-21 03:16] Zhaoyi-Yan opened #51 "Plans or commits that will merge into master(A reminder to me)"
1. `finish discounting loss l1` in `tmp_one_D` : https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/commit/aed3638d15c62cbc4bb8149e8a7beec378fa32a0

2. Make `layers_to_last` an attribute of shift layer, making it easier to implement multi-shift layers.

3. Clean `shiftnet_model.py`, move some code of `wgan_gp`. See here  https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix/commit/032e88438b1b2690e

[2019-01-24 09:31] Zhaoyi-Yan commented on #16
@KumapowerLIU   I am sorry for the delay. You are totally right. It is a bug, that I should not put this line `self.loss = self.criterion(self.former_in_mask * self.strength, Variable(self.target))` at the end of `InnerCos forward.` In a very early version, https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/ac4853d61abf601cfe69ff0b6eb03bd8888d1aa8/models/InnerCos.py#L47-L54

`self.loss` is put b

[2019-01-24 09:56] Zhaoyi-Yan commented on #16
#53  Fixed, please check, thank ypu!

[2019-01-28 02:45] #51 closed

[2019-01-28 11:24] tchaton opened #55 "InnerCos Bug using soft_shift"
(epoch: 1, iters: 800, time: 0.027, data: 0.521) G_GAN: 2.870 G_L1: 31.211 D: 0.407
(epoch: 1, iters: 1600, time: 0.027, data: 0.009) G_GAN: 5.973 G_L1: 25.281 D: 0.072
(epoch: 1, iters: 2400, time: 0.029, data: 0.010) G_GAN: 6.557 G_L1: 21.723 D: 0.005
(epoch: 1, iters: 3200, time: 0.029, data: 0.010) G_GAN: 5.861 G_L1: 17.568 D: 0.006
(epoch: 1, iters: 4000, time: 0.028, data: 0.011) G_GAN: 5.29

[2019-01-29 13:47] Zhaoyi-Yan commented on #55
#56

[2019-01-29 13:47] #55 closed

[2019-02-14 11:31] tchaton opened #59 "Increased time for each epoch"
Hello @Zhaoyi-Yan ,

I have been running speed tests.
And  visualizer.display_current_results time is growing due to the increases in images.
Therefore, I removed it from the main loop.
However, we should have a version which just change one elements and not all of them.

Best,
T.C

[2019-02-18 03:44] Zhaoyi-Yan commented on #59
Hi, Chaton,
`we should have a version which just change one elements and not all of them.`
I am not quite sure what this means.
B.T.W, I am back to work, will try to implement random_multi_shift this weak.

[2019-02-18 06:39] tchaton commented on #59
Hello @Zhaoyi-Yan ,

I timed each functions in the train.py because the training seemed to increase a lot. It appeared the function displaying the results on the web-page was increasing linearly with the number of images to display. It should just modify the last elements, making it o(1). Anyway, I removed those functions from the main loop. Also, I changed a bit the guidance loss implementation,

[2019-02-25 03:37] FindTheAnswer opened #62 "About the Paris StreetView dataset"
Could you give me the link of Paris StreetView dataset?
The original author did not give me the link yet.
Thanks a lot.

[2019-03-01 02:13] Zhaoyi-Yan opened #64 "Add another type of UNet construction."
For now, the construction of UNet is complicated and not flexible enough. Especially, when we need to adding other components to UNet, such type of model construction is surely horrible. So we need to construct the model in another way(More lines of code, yet more flexible)

[2019-03-02 02:38] #16 closed

[2019-03-11 03:17] #64 closed

[2019-03-12 06:41] Zhaoyi-Yan opened #67 "Testing the model on given masks"
It goes like this: setting a flag `offline_testing` to load given masks from the disk.

[2019-03-13 01:16] Zhaoyi-Yan commented on #67
#68

[2019-03-13 01:16] #67 closed

[2019-03-13 08:53] Zhaoyi-Yan commented on #14
#67

[2019-03-13 08:53] #14 closed

[2019-03-16 12:36] #62 closed

[2019-03-18 05:34] FindTheAnswer opened #69 "About the mask"
Can this model trained on other mask dataset?

[2019-03-18 09:41] tchaton commented on #69
Hello, It can be trained on any dataset
You just need to put --dataroot to ur data, and maybe change the dataLoader to use the correct path.

Best,

[2019-04-08 10:01] Zhaoyi-Yan commented on #37
#72

[2019-04-08 10:01] #37 closed

[2019-04-18 05:51] knowtheworld opened #73 "how to run with CPU only"
I want to run this project with CPU only.And what changes should I make about the code?
Thanks for your reading!

[2019-04-18 07:22] Zhaoyi-Yan commented on #73
Setting `--gup_ids='-1'` will work.

[2019-04-18 07:51] knowtheworld commented on #73
After this change,there is another error:
AssertionError: Torch not compiled with CUDA enabled

It seems it still has problems with gpu settings.

[2019-04-20 03:22] Zhaoyi-Yan commented on #73
Hi, it is pytorch, not Torch...

[2019-04-20 03:23] Zhaoyi-Yan commented on #73
`python train.py --which_model_netG='unet_shift_triple' --model='shiftnet' --shift_sz=1 --mask_thred=1 --gpu_ids='-1' `works fine for me.

[2019-04-23 04:02] Mengyao-Li opened #77 "Dataset"
Hello,Regarding the dataset, do I put all the data directly in opt.dataroot, then the code will automatically divide the data set into a training set, a validation set, a test set? Or do I only put the training set into opt.dataroot?

[2019-04-23 09:49] Zhaoyi-Yan commented on #77
Hi, you only need to set `opt.dataroot` to the folder of `training set`(when training) or `testing set`(when testing).

[2019-04-23 15:06] Mengyao-Li commented on #77
Thanks for your reply.I have another problem,I interrupted the training. If I want to continue training, should I run python train.py --continue_train  or others?
I have run python train.py --batchsize=1 --use_spectral_norm_D=1 --which_model_netG='unet_shift_triple'  --model='shiftnet'  --shift_sz=1  --mask_thred=1 --mask_type='center'  --continue_train,but it start training again not continue tra

[2019-04-24 01:24] Mengyao-Li opened #78 "training stop"
I have a 1080Ti GPU ,and when I'm training,the training stops at third epoch.And I have tried again,it stopped at third epoch too,have you met this question?Why?Thanks.

[2019-04-24 02:12] Zhaoyi-Yan commented on #77
In fact, it actually continues training. It loads `latest` model then continues training with `epoch 1`. If you change `which_epoch=2`, then it continues training with `epoch 3`.

[2019-04-24 02:18] Zhaoyi-Yan commented on #78
I haven't met this problem, Any error messages will help.  You may try codebase two commits before https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/tree/b08953371b6f487f43fca10042f5d06f6bd6ec18  , I haven't train for a long time for the latest version.

[2019-04-24 02:34] Mengyao-Li commented on #78
It just stop at epoch:3, iters:5500,time:  XXX ,data: XXX , and don't go on,print no messages.Have you trained the lastest version?

[2019-04-24 02:57] Zhaoyi-Yan commented on #78
I trained the latest version, it should be something unstable with `BCEWithLogitsLoss`. The training is totally stopped with GPU usage equals to 0 after about 3 epochs. I will investigate it.

[2019-04-24 04:24] Zhaoyi-Yan commented on #78
Please try code two commits before, and see whether it is solved.

[2019-04-24 05:03] Mengyao-Li commented on #78
Ok,I will try it,thanks.

[2019-04-24 06:47] Zhaoyi-Yan commented on #78
I have replace BCEWithLogits with BCEloss back and have verified its stableness for 4 epochs, it should be ok. https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/commit/c765939bed64b9604e9ea7ce2c14b2b2c69046d4

[2019-04-24 12:57] Mengyao-Li commented on #78
I have tried code c765939,but it stopped at 3 epoch again,and I have tried codebase two commits before,it stopped at 3 epoch too.Do you know the reason?

[2019-04-24 13:17] Zhaoyi-Yan commented on #78
Quite weird. I have trained 5 epochs and haven't seen such problem. Do you train from the very beginning or perform continue_training ?

[2019-04-24 13:31] Mengyao-Li commented on #78
My dataset is celebA,and I select 11000 training images,and I set the dataroot as the path of celebA, then I run python3 train.py  --batchSize=1  --use_spectral_norm_D=1 --which_model_netD='basic'  --mask_type='center' --which_model_netG='unet_shift_triple'  --model='shiftnet'  --shift_sz=1  --mask_thred=1,then it stoped at 3 epoch.My environment is ubuntu16.04,pytorch1.0,visdom,dominate,scikit-im

[2019-04-24 13:44] Zhaoyi-Yan commented on #78
How about change these options `--which_model_netG='res_patch_soft_unet_shift_triple' --model='res_patch_soft_shiftnet'  --shift_sz=3 --mask_thred=4 `. Let me know whether this network works fine.

[2019-04-25 01:12] Mengyao-Li commented on #78
It stopped at 3 epoch again.

[2019-04-25 01:56] Zhaoyi-Yan commented on #78
How about sharing your dataset with me by email, and I will try to run with it to confirm the situation.  Also, can you run the model on Paris dataset to see whether it attributes to the dataset?

[2019-04-25 04:22] Mengyao-Li commented on #78
May I ask what your email is?

[2019-04-25 06:48] Zhaoyi-Yan commented on #78
yanzhaoyiAtoutlook.com

[2019-04-25 07:52] Mengyao-Li commented on #78
我训练时选择了前11000张图片，非常感谢你的帮助

------------------ 原始邮件 ------------------
发件人: "Zhaoyi-Yan"<notifications@github.com>;
发送时间: 2019年4月25日(星期四) 下午2:48
收件人: "Zhaoyi-Yan/Shift-Net_pytorch"<Shift-Net_pytorch@noreply.github.com>;
抄送: "木头人"<1592884408@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [Zhaoyi-Yan/Shift-Net_pytorch] training stop (#78)

yanzhaoyiAtoutlook.com

—
You are receiving this becau

[2019-04-26 13:37] FindTheAnswer opened #79 "The gap between two versions"
Hello,I just run the PyTorch code training with Paris StreetView(30 epochs) ,but I found PSNR is much lower than that in your paper.Why?

[2019-04-28 08:16] Zhaoyi-Yan commented on #78
Set `nThread=4` if you met such problem.

[2019-04-28 08:16] #78 closed

[2019-05-16 13:57] hobincar opened #83 "Epoches needed to converge"
Hello. At first, thank you for the great idea and the code release.

I'm training the Shift-Net, but I'm not sure if it is converged or not since the logs do not say about the metrics (PSNR, SSIM, and Mean L2 Loss) reported in the paper.

So, can you please tell me **how many epochs do I need for training** to get the performances reported in the paper? Or if you have a script that calculates thos

[2019-05-18 04:36] Zhaoyi-Yan opened #84 "Multi-gpu training break again"
When I pushed this commit https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/pull/81 , it makes multi-gpu training broken.
I have known how to solve it, will push a commit when I am free.

[2019-05-21 00:32] #84 closed

[2019-05-30 02:59] Zhaoyi-Yan opened #86 "Seems I have found a way to solve peformance degradation when training with batchsize>1"
Usually, Such UNet suffers with small training batchsize when training with fixed mask(usually batchsize=1),  now, I find a easy way to solve it.

[2019-05-30 03:07] Zhaoyi-Yan opened #87 "Batch shift operation"
Will investigate how to change shift operation to batch shift, it is a bottleneck for higher gpu ultilization.

[2019-05-31 07:08] tchaton commented on #86
@Zhaoyi-Yan. How do you think to solve it ? :)

[2019-05-31 07:29] Zhaoyi-Yan commented on #86
6b088076e8bbd1c153b72d25a868a89bd20fa0d1  Replace with instance norm with switchable norm, also with more epochs of training. For example, instance norm 30 epochs for Paris dataset when batchsize=1, yet need 50 epochs when adopting switchable norm.

[2019-05-31 15:59] Zhaoyi-Yan commented on #87
I have worked out a initial version of batch-shift. making training 0.025s per image when batchsize=64, while in the original version, it needs 0.049s! Also, in the original version, the average gpu ultilzation rate is ~80% no matter how larger the batchsize is. In this batch-shift, the rate can be up to ~95%.

TODO: Still not fully implemented due to the adoptation of `for loop` in a small part o

[2019-06-02 03:05] Zhaoyi-Yan commented on #87
#88

[2019-06-03 07:27] #87 closed

[2019-08-11 08:01] silence1114 opened #91 "Pretrained model for face center inpainting is corrupted"
Hi,the uploaded model for face center inpainting(named 30_net_G) is corrupted. Can you upload it again? Thx!

[2019-08-11 09:23] Zhaoyi-Yan commented on #91
Could you post the error, it shouldn't be corrupted I think.

[2019-08-11 10:42] silence1114 commented on #91
I downloaded the model for face center inpainting, it is only 11 Mb in size, while the other three pretained models , ie. face random mask model, paris random mask model and paris center mask model are all 209 Mb.

[2019-08-11 10:44] silence1114 commented on #91
I tested the face random mask model, paris random mask model and paris center mask model , all got good results. But when I tested the face center mask model, I got an error:

Traceback (most recent call last):
  File "test.py", line 20, in <module>
    model = create_model(opt)
  File "/home/arch/svan/Shift-Net_pytorch-master/Shift-Net_pytorch-master/models/__init__.py", line 30, in create_model

[2019-08-12 01:50] Zhaoyi-Yan commented on #91
Oh, my God!  The model is wrong! I cannot find the original model and I will retrain the model and will upload the model tomorrow.

[2019-08-12 01:52] silence1114 commented on #91
Thank you very much. ^_^

[2019-08-14 01:50] Zhaoyi-Yan commented on #91
I have trained the model and upload it, please check.

[2019-08-15 09:51] #91 closed

[2019-08-22 08:53] ThJOD opened #92 "Inference with images not 256x256"
Hey,
thank you for publishing the code for your project.

I am trying to run inference on images that are not 256x256 pixels, but of an arbitrary size.
It seems like if I do that the program automatically crops a 256x256 image out and uses that.

Is it possible by tweaking some code to run inference for images of arbitrary size?

Thank you and best regards
ThJOD

[2019-08-22 09:18] Zhaoyi-Yan commented on #92
Hi ThJOD,
In fact, the unet can handle images with arbitrary sizes.  **However, the best practice is that you need to train the model by feeding different sizes of images, otherwise, using a pretrained model you will not get good results**. Here is some tips on how to load the images without crop and resizing: change the code https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/data/aligned

[2019-08-22 10:32] ThJOD commented on #92
Hey,

thank you very much! Inference worked like a charm with the proposed changes. Training had trouble with odd dimensions e.g. Image of size (1028,**539**,3) so I opted for resizing them to the closest lower power of 2 for now.

Best regards
ThJOD

[2019-08-22 10:32] #92 closed

[2019-08-22 10:52] Zhaoyi-Yan commented on #92
No need `the closest lower power of 2`, you only need to promise that the `h` and `w` should be odd number, and not less than 256. Then it will work.

[2019-08-22 10:54] Zhaoyi-Yan commented on #92
Besides, when train your own model, you need to slightly change the code https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/models/shift_net/shiftnet_model.py, as it is only for 256*256.   You'd better generate your own masks for your own dataset as the sizes are not normal 256*256. You can offline generate your masks and testing the images with them.

[2019-08-22 11:18] ThJOD commented on #92
number, and not less than 256. Then it will work.

Do you mean even number? So they should be divisible by 2? Ok, I will try that out tomorrow!

I actually already changed that code to train on my own masks before I submitted this issue but yes, that is also necessary

Thanks again!

[2019-08-22 11:20] Zhaoyi-Yan commented on #92
yes, even number...

[2019-08-22 11:24] raywzy opened #93 "Have you tried to downsample the mask directly using nearest neighbour?"
I am curious about the method that you mentioned to obtain the mask of feature map. Why not downsample directly?

[2019-08-22 12:53] Zhaoyi-Yan commented on #93
Emmm, in fact, several reasons.
1. Shift-Net is started in early 2017.  At that time, no works mention directly how to obtain the mask region in feature map. We have to use figure out the mask to perform shift, however, no prior work at all.  So we have to think up a method to handle it.
2. We define the threshold as 5/16 in our case, and find it is the optimal value. Several months later, I find

[2019-08-22 13:05] raywzy commented on #93
@Zhaoyi-Yan  Thanks for your explaination. Your work is very solid.

[2019-08-23 11:01] #86 closed

[2019-09-12 11:23] dariuszkurzyk opened #94 "What is the best settings for images with size 512x512?"

[2019-09-16 13:28] silence1114 opened #95 "Some questions about Places2 dataset."
Hello, I wonder when training the Places2 dataset, whether part of the data set is used  or the whole data set? And how long it takes for the training? Thanks.

[2019-09-17 00:45] Zhaoyi-Yan commented on #95
In the very begining, I just select several scenes from Places2, besides, you can refer to this issue https://github.com/Zhaoyi-Yan/Shift-Net/issues/12 .   For now, I have no much resource to train models on Places2 or ImageNet,  I have to work for new tasks... Wish I have gpus for training models on these datasets someday.

[2019-09-17 07:51] silence1114 commented on #95
Thx.

[2019-10-28 08:59] ClockworkShelley opened #96 "How to understand the role of the parameter 'mask_thred'"
Hello, Mr. Yan. Can you tell me how to understand parameter ‘mask_thred’,How can I choose a suitable value?。
in util.py,What is the function of  mm = m.gt(mask_thred/(1.*patch_size**2 + `1e-4)).long()`
Why is the value of eps selected as 1e-4?

[2019-10-28 09:35] Zhaoyi-Yan commented on #96
Hi, Shelley
[code]
In fact,  it equals to
[code]
It is a trick for fast computation of masked region.
Usually,  you can have three kinds of getting masked region in the feature.

1. Using a network(with similar architecture and weights of the network should be 1/(K*K) ). It is a little bit complicated and has been desprated now.

2. Using nearest upsample (NOT bilinear or bicubic), so that it is e

[2019-10-28 09:43] Zhaoyi-Yan opened #97 "[BUG] The way to get masked region is flawy(when it is masked variant in a batch)"
No bug, I just made a mistake.

[2019-10-28 09:43] Zhaoyi-Yan commented on #97
#96

[2019-10-28 10:53] #97 closed

[2019-10-28 13:14] ClockworkShelley commented on #96
Thanks for your explaination.

[2019-11-11 08:36] ClockworkShelley opened #99 "some questions about variants"
Hello, Mr. Yan.When I read your code, I found that you created several variants on the basis of the original, which really made me admire. But I don't understand the difference between them and shift-net. Could you briefly introduce them?Thank you

[2019-11-12 03:20] Zhaoyi-Yan commented on #99
PatchSoft means `shift_sz` not only be 1*1, but also can be 3*3, etc.  It is equivalent to contextual attention.
`res_xx` means that I do not directly concat the shifted feature as the third part, however, takes it into a residual block, then the block outputs the residual information of the decoder feature. It can be regarded as a more elegant of information fusion.
`soft_shift_net` seems wrong,

[2019-11-12 07:21] ClockworkShelley commented on #99
Thank you very much for your explanation.

[2019-11-19 06:42] LPY-stat opened #100 "Dataset"
Hwllo,I am currently working on image inpainting work and trying to train several model architectures. I saw that you used paris dataset in the experiments, I have been looking for it.Can you share the dataset through a private link in my email address?
Thank you very much
Email:1318345998@qq.com

[2019-11-27 07:46] #100 closed

[2019-12-08 16:33] muxgt opened #102 "Performance of square masks is much better"
Hi! Thanks a lot for your work! I downloaded 2 pretrained face models and noticed that results of the model with square masks are much better than that with random masks despite that random masks are smaller than squares. Below is the example. Why do you think this is? Also do you think that model can be trained with higher resolutions?
![Untitled-1](https://user-images.githubusercontent.com/54779

[2019-12-09 09:32] Zhaoyi-Yan commented on #102
Hi, muxgt
In fact, it is the `fixed mask` is much better than random masks. `center square mask inpainiting` are specific mask that the mask is just at the center position with the fixed size square mask.

I think this model can be directly trained with higher resolutions (if GPU memory is bigger enough). For better performance, maybe you can refer to some relevent papers.

[2019-12-10 04:55] muxgt commented on #102
Thank you for the answer!

[2019-12-10 04:55] #102 closed

[2019-12-20 17:18] muxgt opened #103 "Warnings flood the screen"
Hi @Zhaoyi-Yan! I'm training your model in Google Colab. When starting it floods the screen with user warnings during all training. Like this:
![1](https://user-images.githubusercontent.com/54779582/71275195-661bfa00-2365-11ea-90c6-bdef086b1f86.jpg) It is overloading the memory. How can I remove it? Or at least shut it down.

[2019-12-21 01:05] Zhaoyi-Yan commented on #103
It is because that you use pytorch>=1.2, while the guys made ByteTensor deprecated. However, when I make this change, then the required version of this repo will be >=1.2.

[2019-12-21 01:25] Zhaoyi-Yan commented on #103
I have push a commit to solve this, please check!

[2019-12-21 14:34] muxgt commented on #103
Thanks a lot for such a speed! New commit gave error at line 160 in (1 - self.mask_global) saying it doesn't support subtraction in bool so I changed this to ~self.mask_global in line 160 and 177 and now it's working. Thanks again!

[2019-12-21 14:34] #103 closed

[2020-01-21 14:45] walbermr opened #106 "Issues with mask size"
Hello, I was studying your work and during some tests I found that the current approach has issues with the size of masks: if there is no mask at all, the shift will try to find a mask in the latent space, and as it does not have a case to no mask in the latent space it will crash. This case can be expanded to a case where the mask is small enough to be compressed as no mask at all in some reducti

[2020-01-22 08:57] Zhaoyi-Yan commented on #106
Wow, it is truly a bug. However, I am afraid such small masks deverse no shift at all. In fact, the information flow of convolution from the outside to the inside are propagating little by little.  When the mask is very big,  it is hard for the network to direclty predict the missing content. In this case, shift operation makes the inpainting adpots the information not only local context but also

[2020-01-22 17:30] walbermr commented on #106
Indeed. So, I will code the fix and re-run some tests to make a pull request later. Thanks for the fast answer!

[2020-02-09 16:34] Sasharanko opened #107 "Issue related to --dataroot='./datasets/celeba-256/test'"
Hello, could you explain why I have the following problem when I have tried to execute -
**python test.py --which_epoch=30 --name='paris_random_mask_20_30' --offline_loading_mask=1 --testing_mask_folder='masks' --dataroot='./datasets/celeba-256/test' --norm='instance'**
AssertionError: ./datasets/Paris/train is not a valid directory.
Do I need to download the dataset to make the inference, if so w

[2020-02-10 02:25] Zhaoyi-Yan commented on #107
I forget where I downloaded it before. However, maybe this link helps you: https://github.com/mazzzystar/make-CelebA-HQ

[2020-03-03 08:34] Zhaoyi-Yan opened #108 "Making Shift-Net better for irregular face inpainting"
About 2 years ago, we find a new novel training strategy that boosts the peformance of face inpainting a lot.  This strategy was originally taken as the second novelty of Shift-Net v2 as the journel version. However, for some reason, I do not write the paper until now.  Unfortuatelly, I do not think Shift-Net v2 will come out in the furture. So I will release the code. It surpasses normal Shift-Ne

[2020-03-03 08:36] tchaton commented on #108
Hey @Zhaoyi-Yan, Can you share examples ?

[2020-03-03 08:57] Zhaoyi-Yan commented on #108
![image](https://user-images.githubusercontent.com/29570378/75757933-38443000-5d6e-11ea-974e-0ca993ad09ff.png)
![image](https://user-images.githubusercontent.com/29570378/75757964-472ae280-5d6e-11ea-8b70-50465688aa07.png)

![image](https://user-images.githubusercontent.com/29570378/75758208-aee12d80-5d6e-11ea-9d42-c9e4c1342c03.png)
![image](https://user-images.githubusercontent.com/29570378/757581

[2020-03-03 09:02] Zhaoyi-Yan commented on #108
Many methods suffers from color shifting in inpainting regions for irregular mask inpainting.  Such phenomenon is quite severe when it comes to faces.  Our new training strategy helps deal with color shifting.

[2020-03-03 09:31] tchaton commented on #108
Oh wow ! What did you change ?

[2020-03-03 10:52] shuyongkang commented on #73
@knowtheworld hellow, Did you solve the problem you encountered? I also encountered the same problem.

[2020-03-03 11:15] shuyongkang opened #109 "IndexError: list index out of range"
File "C:\Users\shukang\Desktop\Shift-Net_pytorch-master\models\shift_net\shiftnet_model.py", line 84, in initialize
    self.vgg16_extractor = util.VGG16FeatureExtractor().to(self.gpu_ids[0])
IndexError: list index out of range

hello， I only use cpu to run test .py with paramaters --which_epoch=30 --name=paris_random_mask_20_30 --offline_loading_mask=1 --testing_mask_folder=masks --dataroot=./dat

[2020-03-03 12:00] Zhaoyi-Yan commented on #109
It doesn't support cpu device currently. I will pull a request to sovle it.

[2020-03-03 12:52] Zhaoyi-Yan commented on #109
Hi, I have update the code, please try and give me feedback whether it works for you.

[2020-03-03 13:08] shuyongkang commented on #109
I tried again，It had works for me. thank you.

[2020-03-03 13:17] #109 closed

[2020-03-07 07:55] txytju commented on #108
Looking forward to the strategy!

[2020-03-13 12:42] Zhaoyi-Yan commented on #108
@tchaton @txytju
![face_flip_png](https://user-images.githubusercontent.com/29570378/76621620-cbe5df80-656a-11ea-92ba-09010ef552ea.jpg)

This is a brief overview of the new learning strategy. Each time,  for a image I, we shift in the features not only for I_feat, instead we search over I_feat and I_flip_feat to search the nearest pixel-level feature.

I will upload the code tomorrow.

[2020-03-17 08:29] #108 closed

[2020-04-15 16:48] ph-got opened #112 "NotImplementedError: Generator model name [face_unet_shift_triple] is not recognized"
Hello, it seems while using test.py and random face model (v2 I guess) that the generator for face_unet_shift_triple is not implemented. Also should 'face_shiftnet' or 'shifnet' be used ? Many thanks.

`Traceback (most recent call last):
  File "test.py", line 20, in <module>
    model = create_model(opt)
  File "/home/user/Shift-Net_pytorch/models/__init__.py", line 30, in create_model
    model.

[2020-04-16 00:57] Zhaoyi-Yan commented on #112
Please try again.

[2020-04-16 15:43] ph-got commented on #112
Stilt got the error that I solved by adding :
    `elif which_model_netG == 'face_unet_shift_triple':
        netG = FaceUnetGenerator(input_nc, output_nc, 8, opt, innerCos_list, shift_list, mask_global, \
                                                         ngf, use_spectral_norm=use_spectral_norm)`
in networks.py

However then got another error:

Traceback (most recent call last):
  File "/h

[2020-04-17 00:26] Zhaoyi-Yan commented on #112
Not `netG = FaceUnetGenerator(input_nc, output_nc, 8, opt, innerCos_list, shift_list, mask_global, \ ngf, use_spectral_norm=use_spectral_norm)`

It is `netG = FaceUnetGenerator(input_nc, output_nc, 8, innerCos_list, shift_list, mask_global, opt, \ ngf, use_spectral_norm=use_spectral_norm)` instead.

It is not consistent with other shiftnet function declaration...

[2020-04-24 12:56] Zhaoyi-Yan commented on #112
I believe it is solved, feel free to reopen it if you have any questions.

[2020-04-24 12:56] #112 closed

[2020-04-27 11:12] optimalSolution-Q opened #114 "About face random inpainting test"
I use the command that python test.py --which_model_netG='face_unet_shift_triple' --model='face_shiftnet' --name='face_random_mask_20_30' --which_epoch=30 --dataroot=./datasets/celeba-256/Celeba/ --offline_loading_mask=1  --norm='instance', but the output is that
![20200427191037](https://user-images.githubusercontent.com/41374112/80365849-d2ca7680-88ba-11ea-9965-9c5bcbf99fa4.png)
what should I do

[2020-04-27 11:33] Zhaoyi-Yan commented on #114
Hi, use it `cosine, latter_windows, i_2, i_3, i_1= Nonparm.cosine_similarity(former.clone().squeeze(), latter.clone().squeeze(), 1, stride, flag_cur)`

[2020-04-27 11:43] Zhaoyi-Yan commented on #114
Hi, I modified two lines in the script, it is because that face shift-net is conducted very long ago, later I change the util/NonparametricShift.py in github, however, I do not change face_shift_net/InnerFaceShiftTripleFunction.py local.
Please try again, thank you!

[2020-05-04 06:49] silence1114 opened #115 "Error in "InnerFaceShiftTripleFunction""
Hi, in Shift-Net_pytorch-master/models/face_shift_net/InnerFaceShiftTripleFunction.py , line 88,
the code : "ori_tmp = Nonparm._paste(latter_windows, ctx.ind_lst[idx], i_2, i_3, i_1, i_4)"
i_2 to i_4 are not defined before, which causes NameError.

[2020-05-04 07:09] Zhaoyi-Yan commented on #115
Oooooh, I forget I used these variables, I have push a commit to fix it, please try again and tell me whether it works.

[2020-05-04 07:35] silence1114 commented on #115
Thank you for your quick reply！now the program can run without errors

[2020-05-04 11:52] #115 closed

[2020-05-04 11:52] #114 closed

[2020-05-18 07:17] mychina75 opened #116 "Why are the size of inpainting models so big?"
Hi,
looks like most of inpainting models are more bigger than 200MB.
Is it possible to reduce the model size to less than 100MB while keep current performance?
thank you~

[2020-05-18 08:05] Zhaoyi-Yan commented on #116
Change here https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/models/modules/shift_unet.py#L41.
Relapce some of them with "residual blocks", it should be weight-lighter than unet-skip blocks, as unet-skip block is feature-concatenating while residual-block is feature-adding.

[2020-05-18 10:11] mychina75 commented on #116
woo...
thank you, I will try this~

[2020-06-11 14:21] muxgt commented on #108
Hi @Zhaoyi-Yan! Where can I take this type of random masks for training?

[2020-06-11 15:53] tchaton commented on #108
@Zhaoyi-Yan, Why forwarding the same mask. Won't it be easier to create 2 random masks (A and B), look into the other image embedding for the ken search (A -> B, B -> A), get the index, and select the feature within the initial outside mask embedding space. And add a loss, so the selected features matches based on that index. What do you think ?

[2020-06-15 00:31] muxgt opened #117 "On what image sizes can Face Shift-net work?"
From non-square sizes it worked for me only on 512x768. On other sizes it gives this:

Traceback (most recent call last):
  File "/content/Shift-Net_pytorch/train.py", line 65, in <module>
    model.optimize_parameters()
  File "/content/Shift-Net_pytorch/models/face_shift_net/face_shiftnet_model.py", line 408, in optimize_parameters
    self.forward()
  File "/content/Shift-Net_pytorch/models/fac

[2020-06-15 03:13] Zhaoyi-Yan commented on #117
No,  I will fix it in one hour.

[2020-06-15 14:56] muxgt commented on #117
Thank you! It's working.

[2020-06-15 14:56] #117 closed

[2020-06-17 05:28] #107 closed

[2020-06-17 05:31] Sasharanko opened #119 "Question regarding neighbor searching."
Hi, sorry for this question here, it doesn't apply to the implementation, but please help to understand how x*(y) = arg max...  from [Shift-Net: Image Inpainting via Deep Feature Rearrangement](https://arxiv.org/pdf/1801.09392.pdf) works.

[2020-06-17 07:14] Zhaoyi-Yan commented on #119
Hi, it is not quite easy to explain unless you debug here: https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/models/shift_net/InnerShiftTripleFunction.py#L36,
[code]
 ` _, indexes = torch.max(cosine, dim=2)` is what you want to find and  `ctx.ind_lst` is the matrix `P`.

[2020-06-17 09:02] tchaton commented on #119
Hey @Zhaoyi-Yan,

I hope you are doing well. I lost your contact. Would be great to connect.
I was wondering if you were interested in pursing inpainting but in different data format.

I am currently one the main contributor of TorchPoints3d: https://github.com/nicolas-chaulet/torch-points3d.

And I guess ShiftNet would be pretty interesting to perform in-painting / densification in 3d.

Best rega

[2020-06-17 09:14] Sasharanko commented on #119
@Zhaoyi-Yan, thank you for your answer, it is really not easy and as I understand you're calculating Cosine Similarity for a pixel from missing region and then shift the most suitable pixel from know region in that place.

[2020-06-18 14:17] Zhaoyi-Yan commented on #119
@tchaton
I am sorry that I have devoted myself to another area, so I am afraid I do not have time to performing inpainting in 3d.

[2020-06-22 14:30] czhwyt opened #120 "test"
Hello, I used the online generation method to generate the mask on the celeba dataset to train the regular repair, then I used my own mask to test, and found that the effect is very poor,However, when using the online mask generation method to test, the effect is very good.Is there something wrong with me?details as follows:
![2](https://user-images.githubusercontent.com/48146774/85297624-8de74880

[2020-06-22 15:32] Zhaoyi-Yan commented on #120
Usually, when the mask is fixed (same position and same shape) during training makes the testing performance satisfying. I only train the model trained with center mask and a model trained with random irregular masks. If you want to make the model robust to random positions of rectangles, you need to retrain the model with `mask_sub_type='rect'`.

[2020-06-22 17:16] czhwyt commented on #120
Thanks! What is the difference between "mask_type" and "mask_sub_type"? I didn't figure it out.

[2020-06-23 02:05] Zhaoyi-Yan commented on #120
Only when `mask_type='center'`, then `mask_sub_type` works.

[2020-06-23 09:11] czhwyt commented on #120
Thans! If I load an irregular mask offline, do I need to set "mask_type" and "mask_sub_type"? If settings are required, why should they be set separately?

[2020-06-23 12:28] Zhaoyi-Yan commented on #120
Loading mask offline does not requires any specific `mask_type` or `mask_sub_stype`.  You can set them any values.

[2020-06-23 13:02] czhwyt commented on #120
OK！Thanks!

[2020-06-25 14:21] Python-student1 opened #121 "Guidance loss"
Hi, @Zhaoyi-Yan, could you please explain what did you mean by **Фl(I^gt)y** in guidance loss function in [Shift-Net: Image Inpainting via Deep Feature Rearrangement](https://arxiv.org/pdf/1801.09392.pdf). As I understand **I^gt** - image ground truth that have no any missed regions, but **y** belong to missing regions on the image. Thank you.

[2020-06-25 14:22] #119 closed

[2020-06-28 14:50] czhwyt commented on #120
Hello, When I loaded my random mask offline, I set "offline_loading_mask = 1", "batchSize = 1", and then the following error occurred during training:
![_IZ@6E_$1@A33U7~ V{4{5](https://user-images.githubusercontent.com/48146774/85950816-a6ea7080-b991-11ea-9569-01c3ff598881.png)
I didn't find a solution. Do I need to set any more parameters?

[2020-06-28 16:06] Zhaoyi-Yan commented on #120
Maybe some of your masks are filled with all zeros.

[2020-07-02 00:27] Zhaoyi-Yan commented on #121
Hi, you should have known the answer. If not, I will explain.

[2020-09-14 12:53] sunchang2017 opened #122 "can't find the guidance loss in the code"
hi, I only see the below losses:

self.loss_names = ['G_GAN', 'G_L1', 'D', 'style', 'content', 'tv']

where is the important guidance loss?

[2020-09-14 13:17] Zhaoyi-Yan commented on #122
It is not explicitly returned. See here:
https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/models/shift_net/InnerCosFunction.py#L29
You can return it out on your own.

[2020-10-07 08:43] mxiaoxin opened #123 "Guide Loss: how is target passed to InnerCosFunction"
Thank you for your amazing work.
I am confused about the implementation of guide loss. Could you tell me how is the target got?
In the first iteration, the ground truth is passed to the net. Then the real target is included in the former part of in_data, and the target now is 1. But in the InnerCosFunction, the target is expanded with its own value 1. Is that right?
![image](https://user-images.gi

[2020-10-07 12:10] mxiaoxin commented on #123
Should expand_as change to clone?

[2020-10-08 01:43] Zhaoyi-Yan commented on #123
The first loop:
2 forward+ 1 backward pass is the whole training procedure.

1st forward:  target is a tensor with a dummy value(any value is fine),  as in this forward, we just get the real `target` by passing the corresponding gt.  (The guidance loss here is useless,  we DO NOT backward this loss)
2nd forward:  the corrupted image is passed,  the target is what we need, the loss is just defined

[2020-10-08 15:20] mxiaoxin commented on #123
Thank so much for your clear explanation. I understand now. In the first forward, the target is saved in self.target by the line following InnerCosFunction.apply. Information saved by ctx.save_for_backward(input, target, mask) in the first forward is not used.

[2020-10-09 00:11] #123 closed

[2020-11-28 07:32] FlappypigJohn opened #124 "Dataset"
Could you please give me the link of Paris StreetView dataset?
The original author did not give me the link yet. orz，Thanks a lot.
853710349@qq.com

[2020-12-30 02:51] wj320 opened #125 "About the parameter 'overlap'"
Thanks for sharing your code!
I have a question about the parameter 'overlap'. I download your pretrained model and test it on CelebA-HQ dataset  with rectangle mask.  When I set '--overlap 4', the results are pretty good; however, when I set '--overlap
 0', the output images are very poor. Why is it that?

[2020-12-30 08:18] Zhaoyi-Yan commented on #125
1. `--overlap` is just used to be consistent with the settings with Context-Encoders and High-Resolution. The authors adopt the central mask with size (128-4)*(128-4), so we follow the settings just to make comparisons easily.

2.  When the model is trained with a fixed mask, then we must adopt the same mask, so the performance degrades severely.  It is because the model is not trained with masks

[2020-12-31 00:57] wj320 commented on #125
Thanks for your reply : ) !!!

[2020-12-31 00:57] #125 closed

[2021-02-03 13:19] kdai opened #127 "about change mask size"
hello, I tried to modify the mask to 128*128, but I don't know how to modify it. Could you please help me?

[2021-02-04 00:15] Zhaoyi-Yan commented on #127
change ` overlap=4` to `overlap=0`, you need to retrain the model, it is important.

[2021-03-21 15:37] tiwarikaran opened #128 "Any help on custom dataset?"
Hello,
I am absolutely struggling with how, to begin with, image inpainting and this seems like a good algorithm to work on, any help whatsoever would be appreciated.
Also, I tried to run the code but got errors.

[2021-03-21 15:51] Zhaoyi-Yan commented on #128
You can post the error information

[2021-03-23 13:19] tiwarikaran commented on #128
Before that, how should I prepare my dataset?

[2021-03-24 02:09] Zhaoyi-Yan commented on #128
Put all your training images to the custom path, then change `dataroot`  to your custom path in `https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/options/base_options.py`.

I have updated `Readme` here:
https://github.com/Zhaoyi-Yan/Shift-Net_pytorch#train-models

[2021-03-24 18:15] tiwarikaran commented on #128
Is it necessary for the training images to have mask or the mast is randomly generated?

[2021-08-09 14:13] mauriliosalg opened #129 "Discounting Loss"
When center mask is set, loss L1 is obtained only on the mask region. and you include the discounting loss.

self.loss_G = self.loss_G_L1 (L1 only on the masked region) + self.loss_G_L1_m (discounting loss) + self.loss_G_GAN

My point is, shouldn't the discounting loss be replacing the  loss_G_L1 loss instead of adding to it?

[2021-10-11 02:18] xueyaosmile opened #130 "random mask"
For random mask， I have encountered some problems. Can you give me detailed training commands?

[2021-11-26 05:24] 7568 opened #131 "the result is blurred"
hello , I used your code to train my custom data, but the result is not very good, the area of masked s blurred in the output image.
just like this:
![image](https://user-images.githubusercontent.com/4082491/143530454-cad062b2-7539-40f9-84b0-b47acf031f3f.png)

it is very thanks if you can tell me some ways to fine turn this results.

[2021-11-28 02:37] Zhaoyi-Yan commented on #131
shift-net works better with images with fine non-local characteristics, such as buildings, rocks, etc. For the random characters in your data, usually `partial conv` works better. I recommend you refer to it https://github.com/Vious/LBAM_Pytorch or  https://github.com/wds1998/Edge-LBAM, these probably handle your cases.

[2021-11-28 03:01] 7568 commented on #131
thank you very much

[2021-11-30 21:44] Erizu91 commented on #131
Hi, I have been trying to train my own image set but the training stalled at epoch 3. I loaded my dataset without masks and put it to train as it says in the author's explanation but I can't get it to train.

[2021-12-03 21:58] Erizu91 opened #132 "Error in training"
Hello, when I try to train I get this error ...

[Errno 99] Cannot assign requested address
on_close() takes 1 positional argument but 3 were given

How can a solve it ?
Thanks

[2021-12-05 10:17] Zhaoyi-Yan commented on #132
try your `display_id=0` to disable the visualization during training. Maybe it is the incompatibility of visdom?

[2021-12-07 22:06] Erizu91 commented on #132
Thanks, now it works but when I finish the training I can't see the results by entering the URL.

[2021-12-08 04:46] Zhaoyi-Yan commented on #132
try `display_port=9001`, if it still occurs an error, post the error message here.

[2021-12-09 16:01] Erizu91 commented on #132
Hi, I made the change you suggested in options/train_options.py but it keeps sending me to address 8097.

[2021-12-22 21:20] Erizu91 commented on #132
Hello, I'm still waiting for your help

[2021-12-23 01:25] Zhaoyi-Yan commented on #132
Are you sure when you change https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/options/train_options.py#L12 to something like `9001`, it still sends you address 8097 even if your running script does not contains `display_port` item?

[2021-12-27 19:26] Erizu91 commented on #132
Yes, I changed the port number and retrained the code but it still appears that port number 8097 is not found.

[2022-02-06 22:31] Erizu91 commented on #132
Hi again, I retrained the code and I still can't see the results, I get the following message in the training ...

Could not connect to Visdom server.
 Trying to start a server....
Command: /usr/bin/python3 -m visdom.server -p 8097 &>/dev/null &
create web directory ./log/exp/web...
[Errno 99] Cannot assign requested address

[2022-02-07 06:20] Zhaoyi-Yan commented on #132
Maybe you are running the code on a server which contains no screens, you may try https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix , and ask for help there.

[2022-04-13 02:07] youarenotaloneor commented on #130
How to increase the area of random mask？Thanks！

[2022-04-13 02:58] Zhaoyi-Yan commented on #130
Change some values here : https://github.com/Zhaoyi-Yan/Shift-Net_pytorch/blob/master/util/util.py#L121 @youarenotaloneor

[2022-04-13 03:03] youarenotaloneor commented on #130
非常感谢！！！我想请教您一下，目前您这篇论文，如果想要改进，从哪方面入手会好一点呢？

[2022-04-13 04:12] youarenotaloneor commented on #130
Thanks!. I'd like to ask you, if you want to improve your the paper, what aspects will be better?

[2022-04-20 09:50] Zhaoyi-Yan commented on #130
@youarenotaloneor  Maybe using transformer MHSA to replace shift operation.

[2022-04-25 11:33] youarenotaloneor commented on #130
Hello, sorry to bother you again. How do you get the visual map of shift net？ where in locate the code? @Zhaoyi-Yan

[2022-11-17 02:09] slowwords opened #133 "test about face"
Hi, MR Yan, it's really a great job.
I ran into a problem while testing.
When I tested with the face pre-trained model you provided, I was boosted "AttributeError: 'UnetGeneratorShiftTriple' object has no attribute 'e1_c'". And I was still prompted with this problem after selecting other mods. Can anyone solve my doubts? Thanks!

[2022-11-17 02:12] #133 closed, assigned to nobody

[2022-11-17 02:49] slowwords opened #134 "How to test with my own mask dataset?"
Hi, Mr Yan. It's really a great job.

I want to use the irregular mask proposed in Pconv for testing.
However, when I modified testing_mask_folder to the local dataset, it is still do not works. Please guide me how to do it. Thanks!

[2022-11-17 04:05] Zhaoyi-Yan commented on #134
Try to set `offline_loading_mask=1` in options/base_options.py